body {
    background-color: #ffffff ;
    color: #000000;
    font-family: "Courier New", monospace;
    text-align: center;
    margin: 50px;
}

h1 {
    color: #800000;
}

p {
    margin: 20px 0;
    text-align: left;
    
}

.retro-box {
    border: 2px solid #800000;
    background-color: #ffcc00;
    padding: 20px;
    margin: 30px auto;
    max-width: 600px;
    text-align: left;
}

.retro-button {
    background-color: #800000;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: "Courier New", monospace;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.retro-button:hover {
    background-color: #ffcc00;
    color: #800000;
}

a {
    color: white;
}

a:visited {
    color: black;
}

a:hover {
    color: blue;
}

a:active {
    color:white:
}

.retro-image {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}
